<nav class="fixed-nav-bar" style="background: none;">
  <app-navbar></app-navbar>
</nav>
<div  [@animationInOut]="'in'" class="background-about-us">
  <div style="color: #FFF; padding: 140px 35px 0 35px; max-width: 100%;
        margin: 0; height: 100%; background: rgba(0, 0, 0, 0.32);" class="grid">
    <div class="col-12">
      <h1 class="about-us-title">Nuestra Empresa</h1>
    </div>
    <div class="" style="max-width: 1300px;">
      <div class="grid col-12">
        <div class="col-5_sm-10">
          <p style="font-size: 16px; letter-spacing: 1px; text-align: justify;">Somos una empresa con sede en Saltillo Coahuila dedicada
             a proveer soluciones en general para la industria en sus diferentes giros.
           </p><br>
          <p style="font-size: 16px; letter-spacing: 1px; text-align: justify;">Estamos comprometidos a buscar la solución eficaz con pronta respuesta y
            con el mejor costo-beneficio; la atención y calidad que ofrecemos,
            así como conocimiento obtenido en la práctica han contribuido a convertirnos en un
            socio confiable para nuestros clientes.
          </p>
        </div>
        <div class="col-12_sm-9 grid-center">
          <p style="font-size: 16px; letter-spacing: 1px; text-align: center;">
            «Nuestra mejor propuesta es su satisfacción»
          </p>
        </div>
        <div class="grid-center col-12">
          <img style="width: 300px;" src="../../assets/images/aiec-logo2.png" load="lazy" alt="aiec-logo">
        </div>
      </div>
    </div>
  </div>
</div>
