<nav class="fixed-nav-bar" style="background: none;">
  <app-navbar></app-navbar>
</nav>

<div [@animationInOut]="'in'" class="background-contact">
  <div style="color: #FFF; padding: 140px 35px 50px 35px; max-width: 100%;
        margin: 0; height: 100%;" class="grid">
    <div class="col-12">
      <h1 class="contact-title">Comunícate con Nosotros</h1>
    </div>
    <div class="" style="width: 100%; rgba(0, 0, 0, 0.7607843137254902);">
      <div class="grid col-12">
        <div class="col-5_sm-12" align="center" style="    min-height: 144px;
    /* box-shadow: inset 0px -6px 2rem 0px; */
    background: rgba(0, 0, 0, 0.6392156862745098);
    color: #000;
    font-weight: 600;
    padding: 8px;
    border-radius: 15px;
    color: #FFF;">
          <h2>Contactos</h2>
          <div class="grid">
            <div class="col-6">
              <p>Ing. Carlos A. Duarte</p>
              <p>(844) 459 9533</p>
            </div>
            <div class="col-6">
              <p>Ing. José R. Navarro</p>
              <p>(55) 2671 1076</p>
            </div>
          </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-5_sm-12" align="center" style="    min-height: 144px;
    /* box-shadow: inset 0px -6px 2rem 0px; */
    background: rgba(0, 0, 0, 0.6392156862745098);
    color: #000;
    font-weight: 600;
    padding: 8px;
    border-radius: 15px;
    color: #FFF;">
          <h2>Correos</h2>
          <div class="grid">
            <div class="col-12">
              <p>ventas@aiecsuministros.com</p>
              <p>gerencia@aiecsuministros.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-center col-12" style="margin-top: 30px;">
        <div class="col-5_sm-12" align="center" style="    min-height: 144px;
    /* box-shadow: inset 0px -6px 2rem 0px; */
    background: rgba(0, 0, 0, 0.6392156862745098);
    color: #000;
    font-weight: 600;
    padding: 8px;
    border-radius: 15px;
    color: #FFF;">
          <h2>Dirección</h2>
          <div class="grid">
            <div class="col-12">
              <p>Blvd. Nazario Ortiz Garza #290.</p>
              <p>Saltillo, Coahuila C.P. 25290</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
