.background-contact {
    width: 100%;
    background-size: cover;
    background-image: url("../../assets/images/farmacia.jpg");
}

.contact-title {
  position: relative;
  max-width: 300px;
}
.contact-title::before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 100%;  /* or 100px */
  border-bottom: 5px solid #f66d2f;
}
